@import url('https://fonts.googleapis.com/css?family=B612&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarala&display=swap');

#root {
    height: 100vh;
    width: 100vw;

}

.content-top {
    align-items: center;
    width: 100%;
    height: 9%;
    background: #574C4C;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    z-index: 100;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bottom-div {

    top: 300px;
    position: relative;
    width: 100%;
    background-size: 100% 100%;
}

.profile-photo {
    top: 50px;
    position: absolute;
    background: linear-gradient(to bottom, #574C4C 50%, #E29B99 50%, #E29B99 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34%;
}

.name {
    font-family: 'B612', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: -32px;
}

.myphoto {
    width: 150px;
    height: 150px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    background-size: 100% auto;
    top: 87px;
    border-radius: 50%;
}

.paragraph {
    text-align: center;
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
    margin: 25px 20px 0px 20px;
}

.text-bottom_name {
    text-align: center;
    font-size: 14px;
    color: #020202;
    font-family: 'Sarala', sans-serif;
}

.text-bottom_name span {
    position: absolute;
    right: 0;
    width: 0;
    background: #E29B99;
    border-left: 1px solid #000;
    animation: escribir 5s steps(60) infinite alternate;
}

@keyframes escribir {
    from {
        width: 30%
    }

    to {
        width: 70%
    }
}


.fa-home,
.fa-tools,
.fa-briefcase {
    color: white;
    font-size: 30px;
}

.fa-home:hover,
.fa-tools:hover,
.fa-briefcase:hover {
    color: #E29B99;
}

.fa-bars,
.fa-times {
    color: #E29B99;
    font-size: 40px;
}

.navbar-text {
    color: white;
    font-family: Sarala, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    margin: 5px 5px;
}

.footer {

    position: relative;
    top: 58%;
    display: flex;
    justify-content: space-around;
}

.fa-github,
.fa-envelope,
.fa-linkedin-in,
.fa-file-download {
    color: #574C4C;
    font-size: 25px;
}

.fa-github:hover,
.fa-envelope:hover,
.fa-linkedin-in:hover,
.fa-file-download:hover,
.fa-link:hover,
.fa-search:hover {
    color: white;
}

.navbar {
    width: 60px;
    top: 94px;
    background: #6F6262;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 10;
}

.hidden-bars {
    display: block;
    transition: transform 0.4s;
    transform: translateX(0);
}

.show-bars {
    display: block;
    transition: transform 0.4s;
    transform: translateX(100%);
}

.content-options {
    margin: 20px 10px;
}

.icon-menu {
    cursor: pointer;
}

.content-bars {
    padding: 5px;
    max-width: 40px;
    height: 40px;
}

.fa-bars,
.fa-times {
    color: white;
    cursor: pointer;
    font-size: 40px;
}

.color-header {
    background: #E29B99;
}

.link-text {
    text-decoration: none;
}

.title-otherviews {
    font-family: 'Sarala', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 10px;
}

.footer-ancle {
    height: 25px;
}

.photo-navbar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 14px;
}

.content-project {
    width: 100%;
    position: absolute;
    top: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-rawprojects {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-iconprojects {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}

.content-projectsdetails {
    height: 197px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.img-projects {
    width: 100%;
    height: 200px;
}

.fa-link {
    transform: rotate(45deg);
    color: white;
    font-size: 20px;
    cursor: pointer;
    color: #574c4c;
}

.fa-search {
    transform: rotate(-45deg);
    color: #574c4c;
    font-size: 20px;
    cursor: pointer;
}

.content-skills {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 76px;
    width: 100%;
}

.icons-bottomproject {
    display: flex;
    margin-top: 10px;
}

.rombo-icon {
    border-radius: 5px;
    background: #ffffff91;
    display: flex;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #574C4C;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content-iconskills {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
}

.content-icondetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #574C4C;
    border-radius: 50%;
    margin: 30px 10px;
    background: #ffffff91;
}

.content-icondetails p {
    font-family: 'B612', sans-serif;
    color: #020202;
    font-size: 14px;
}

.fa-js-square,
.fa-html5,
.fa-css3-alt,
.fa-node,
.fa-git,
.fa-git-alt,
.fa-npm,
.fa-react {
    font-size: 50px;
    color: #574C4C;
}

.icon-firebase {
    width: 50px;
    height: 50px;
}

.show-times {
    display: block;
}

.hidden-times {
    display: none;
}

.preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background: #00000073;
}

.preview-main {
    display: flex;
    position: fixed;
    width: 95%;
    height: auto;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
}

.rotate-icon {
    transform: rotate(-45deg);
}

.content-modalimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-closemodal {
    width: 40px;
    height: 40px;
    font-size: 18px;
}

.btn-close {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.font-sizetimes {
    font-size: 28px;
}

.img-preview {
    height: 100%;
    min-height: 221px;
    width: 100%;
    border-radius: 3px;
    min-width: 307px;
}

.content-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title-SkillProjects {
    font-size: 34px;
    font-family: 'Sarala', sans-serif;
    color: #ffffffbf;
    margin-top: 12px;
}

.show-name {
    display: block;
}

.hidden-name {
    display: none;
}

.aside-profile {
    display: none;
}

.aside-myphoto {
    display: none;

}

@media screen and (min-width: 45em) {
    body {
        background: url("./img/background.jpg")no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        ;
    }

    .profile-photo {
        display: none;
    }

    .myphoto {
        display: none;

    }

    .aside-profile {
        position: fixed;
        justify-content: center;
        display: flex;
        width: 20%;
        top: 0;
        height: 100vh;
        background: linear-gradient(to bottom, #574C4C 20%, #E29B99 20%, #E29B99 100%);
    }

    .aside-myphoto {
        display: flex;
        position: fixed;
        width: 150px;
        height: 150px;
        border: 5px solid rgba(255, 255, 255, 0.5);
        background-size: 100% auto;
        top: 10%;
        border-radius: 50%;
    }

    .content-top {
        display: none;
    }

    .bottom-div {

        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 75%;
        left: 22%;
        top: 0%;
        justify-content: center;
        min-height: calc(100vh - 15%);

    }

    .name span {
        font-display: 'Sarala', sans-serif;
        font-size: 42px;
        color: black;

    }

    .text-bottom_name {
        font-size: 24px;

    }

    .paragraph {
        margin-left: 0;
        text-align: left;
        margin-top: 37px;
        font-size: 18px;
    }

    .content-options {
        height: 40%;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 44%;
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }

    .footer {
        position: relative;
        top: -6%;

    }

    .content-imgprofile {
        display: flex;
        width: 80%;
        justify-content: center;
    }

    .text-bottom_name {
        position: relative;
        float: left;
    }

    .text-bottom_name span {
        position: absolute;
        right: 0;
        width: 0;
        background: #e1e4e9;
        border-left: 1px solid #000;
        animation: escribir 5s steps(60) infinite alternate;
    }

    @keyframes escribir {
        from {
            width: 100%
        }

        to {
            width: 0
        }
    }

    .navbar-text {
        color: white;
        font-family: Sarala, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    .content-skills {
        position: fixed;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        top: 0px;
        width: 80%;
        left: 20%;
        min-height: calc(100vh - 15%);
    }

    .content-project {

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        top: 12%;
        width: 80%;
        left: 20%;
        min-height: calc(100vh - 15%);
    }

    .title-SkillProjects {
        width: 96%;
        font-size: 34px;
        font-family: 'Sarala', sans-serif;
        color: #574c4c;
        margin: 0 0 0 4%;
    }

    .content-iconskills {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;

    }

    .content-icondetails {

        background: #e29b9924;
    }

    .content-iconprojects {
        width: 30%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 2%;

    }

    .content-projectsdetails {
        border-radius: 10px;

    }

    .content-projectsdetails:hover {
        opacity: 0.4;
        cursor: pointer;

    }

    .img-projects {
        width: 100%;
        height: 200px;
        border-radius: 3px;
        border: none;
    }

    .name span:nth-child(2) {
        font-weight: 100;

    }

.img-preview {
    height: 100%;
    min-height: 400px;
    width: 100%;
    border-radius: 3px;
    min-width: 1000px;
}

    .fa-home:hover,
    .fa-tools:hover,
    .fa-briefcase:hover {
        color: #574C4C;
    }

    .footer-ancle {
        height: 25px;
    }

    .fa-github:hover,
    .fa-envelope:hover,
    .fa-linkedin-in:hover,
    .fa-file-download:hover,
    .fa-link:hover,
    .fa-search:hover {
        color: #E29B99;
    }

    .rombo-icon {
        background: #e29b9952;
    }
}