@import url('https://fonts.googleapis.com/css?family=B612&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarala&display=swap');
.navbar {
    position: absolute;
    width: 360px;
    height: 45px;
    left: 0px;
    top: 0px;
    background: #6F6262;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.top-div {
    position: absolute;
    width: 360px;
    height: 176px;
    left: 0px;
    top: 0px;
    background: #574C4C;
}

.bottom-div {
    position: absolute;
    width: 360px;
    height: 464px;
    left: 0px;
    top: 176px;
    background: #E29B99;
}

.profile-photo {
    position: relative;
    left: 101.6px;
    top: 99.45px;
}

.name {
    font-family: 'B612', sans-serif;
    text-align: center;
    color: #FFFFFF;
    margin-top: 90px;
    font-size: 20px;
}

.myphoto {
    width: 150px;
    height: 150px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    transform: rotate(-3deg);
}

.paragraph {
    text-align: center;
    margin: 20px 10px 0px 10px;
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
}

.text-bottom_name {
    text-align: center;
    font-size: 14px;
    margin-top: -10px;
    color: #020202;
    font-family: 'Sarala', sans-serif;
}

.fa-home,
.fa-tools,
.fa-briefcase {
    color: white;
    font-size: 20px
}

.navbar-text {
    color: white;
    font-family: Sarala, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 5px 0px 5px;
    font-size: 10px;
}