@import url('https://fonts.googleapis.com/css?family=B612&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarala&display=swap');
.navbar {
    width: 100%;
    height: 50px;
    background: #6F6262;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.top-div {
    width: 100%;
    height: 97px;
    background: #574C4C;
}

.bottom-div {
    width: 100%;
    height: 100%;
    background: #E29B99;
    background-size: 100% 100%;
}

.profile-photo {
    background: linear-gradient(to bottom, #574C4C 50%, #E29B99 50%, #E29B99 100%);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 160px;
}

.name {
    font-family: 'B612', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 0px 5px;
}

.myphoto {
    width: 150px;
    height: 150px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    background-size: 100% auto;
    top: 87px;
    border-radius: 150px;
}

.paragraph {
    text-align: center;
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
    margin: 30px 20px;
}

.text-bottom_name {
    text-align: center;
    font-size: 14px;
    color: #020202;
    font-family: 'Sarala', sans-serif;
}

.fa-home,
.fa-tools,
.fa-briefcase {
    color: white;
    font-size: 30px
}

.fa-bars {
    color: #E29B99;
    font-size: 40px
}

.navbar-text {
    color: white;
    font-family: Sarala, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    margin: 5px 5px;
}

.footer {
    height: 60px;
    background: #E29B99;
    display: flex;
    justify-content: space-around;
}

.fa-github,
.fa-facebook,
.fa-linkedin-in,
.fa-file-download {
    color: #574C4C;
    font-size: 25px;
}